main section .contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  border: none;
  background: var(--primary-op25);
  margin: 2px 0 1.5rem 0;
  position: relative;
  padding-left: 5px;
  font-family: "Roboto", sans-serif;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
}

.contact-form textarea {
  border: none;
  background: var(--primary-op25);
  height: 150px;
  resize: vertical;
  max-height: 350px;
}

.contact-form .fullName {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.fullName div {
  width: 100%;
}

.fullName div:first-child {
  padding-right: 0.5rem;
}

.fullName div:last-child {
  padding-left: 0.5rem;
}

.contact-form label {
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-btn {
  max-width: 300px;
  margin: 2.5rem 0;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  font-size: 26px;
  background: var(--primary);
  color: var(--off-white);
  text-transform: capitalize;
  border: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.contact-btn:hover {
  color: var(--accent);
  transition: color 0.2s ease-in-out;
}

.error-txt {
  display: none;
}
