body,
html {
  height: 100%;
  overflow: hidden;
}

main {
  height: 100%;
}

.carousel-container {
  width: 100%; /* width of single image (on smaller */
  height: 70%;
  position: relative;
  /* display: flex; */
  /* justify-content: flex-start; */
  margin-top: 2.5rem;
}

.carousel-inner {
  height: 100%;
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
}

.carousel-container .track {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.33s ease-out;
  position: relative;
  justify-content: flex-start;
}

.track .post-container /* .card-container */ {
  width: 100%; /* give width that matches amount to display 33.74% on max */
  flex-shrink: 0;
  height: 100%;
  /* padding: 0; add on larger screen sizes (when 2x2 images and 3x3) */
  position: relative; /* for anchor tag to cover entire carousel slide */
}

.post-container .post {
  width: 100%;
  height: 100%;
  /* border-radius: 7.5px 0;  remove this add on larger screens */
  display: flex;
  flex-direction: column;
  position: relative; /* for image styling */
}

.post > * {
  flex: 1;
}

.post-info {
  flex-basis: 10px;
  flex-grow: 0;
  padding: 15px;
  background: var(--off-white-75op);
  z-index: 2;
  /* border-radius: 0 0 7.5px 0; remove this add on larger screens */
}

.post-info h2 {
  font-size: 30px;
  margin: 0;
}

.post-info p {
  margin: 0;
}

.post .img-container {
  /* border-radius: 15px; */
  height: 100%;
  /* position: relative; */
}

.img-container img {
  /* border-radius: 7.5px 0 0 0; remove this add on larger screens */
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-link {
  /* click on post => blog post specific page */
  position: absolute;
  top: 0;
  width: calc(100% - 10px); /* 15 is the magic number (padding left/right total) */
  height: 100%;
}

.carousel-container nav button {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: none;
}

button.left {
  left: 3%;
}

button.right {
  right: 3%;
}

@media screen and (min-width: 1000px) {
  .carousel-container {
    margin-top: 6rem;
  }
  .track .post-container {
    width: 50%;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1500px) {
  .track .post-container {
    width: 33.74%;
  }
}
