main {
  width: 100%;
}

.post-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.post-container img {
  cursor: pointer;
}

.post-container header img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.post-container nav {
  margin-bottom: 1.8rem;
}

div.centre {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

div.centre img {
  width: 100%;
  object-fit: cover;
}
.post-container h3 {
  margin: 1rem 0 -1rem 0;
}

article nav .icons-container {
  margin: 1rem 0 0 0;
}

.icons-container li {
  margin: 0 10px 0 0; /* 10 is a magic number that fits the design. */
}

.icons-container i {
  font-size: 2rem;
}

.post-container header img {
  transform-origin: left;
  animation: imageExpand 0.5s ease-in-out;
}
@keyframes imageExpand {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@media screen and (min-width: 1000px) {
  .post-container {
    margin-top: 6rem;
    width: 70%;
  }
  div.centre {
    flex-flow: row nowrap;
    flex-shrink: 1;
  }
  div.centre div {
    padding-left: 1rem;
  }
  .post-container h3 {
    margin: 1rem 0 0 0;
  }
  div.centre img {
    max-width: 30%;
    padding: 1rem 0;
  }
  .post-container h2 {
    margin: 0.5rem 0;
  }
  .post-container p {
    margin-top: 0;
  }
  .post-container header img {
    transform-origin: center;
  }
}
